h1 {
    font-family: 'Times New Roman';
}

p {
    font-family: Verdana;
    color: #3366cc;
}

.whatcolor {
    color: #66cc33;
}

#whatcolor {
    color: #cc6633;
}

#hoveredText:hover {
    padding-left: 30px;
    color: red;
}

/* # indicates a single item id */
#topmenu {
    background-color: #cccccc;
}

#topmenu a::before{
    content: ' | ';
    padding-left: 10px;
    padding-right: 10px;
}

.page {
    text-align: center;
}

/* . indicates a class for multiple items */
/* classes are prefered in use */
.important {
    font-weight: bold;
    border: 2px #cc2244 solid;
}

/* an descendant tag b, inherits properties from important class. */
.important b{
    color: #ff1122;
}